$blue-color:                    #4b86b4 ;
$light-blue-color:              #e7eff6;
$font-color:                    #434a59;
$dark-font-color:               #17324d;
$white-color:                   #ffffff;
$light-grey:                      #eee;

$light-dark-font-color:           rgba($dark-font-color, .5);