@font-face {
    font-family: 'FontAwesome';
    src: url('../Assets/Fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../Assets/Fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../Assets/Fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../Assets/Fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../Assets/Fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../Assets/Fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../Assets/Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../Assets/Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RalewayExtraBold';
    src: url('../Assets/Fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../Assets/Fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../Assets/Fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../Assets/Fonts/Raleway-Bold.ttf');
}
